body {
    font-size: 13px;
    background-color: hsl(210, 46%, 95%);
    font-family: 'Manrope';
}

.article-wrapper {
    width: calc(100% - 48px);
    margin: 73px auto 80px auto;
    background-color: white;
    border-radius: 10px;
}

.article-image {
    max-width: 100%;
    border-radius: 10px 10px 0 0;
    margin-bottom: 40px;
}

.article-title {
    margin-top: 0;
    margin-bottom: 20px;
    padding: 0 32px;
    font-size: 15px;
    line-height: 1.5;
    font-weight: 700;
    color: hsl(217, 19%, 35%);
}

.article-description {
    padding: 0 32px;
    color: hsl(214, 17%, 51%);
    margin-bottom: 38px;
}

.author-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 18px;
    margin-bottom: 20px;
}

.share-wrapper {
    width: 30px;
    height: 30px;
    background-color: hsl(210, 46%, 95%);
    border-radius: 50%;
    position: relative;
    margin-top: 10px;
    cursor: pointer;
}

.author-share {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
}

.author-name {
    margin: 0 45px 4px 0;
    font-size: 13px;
    color: hsl(217, 19%, 35%);
}

.article-date {
    margin: 0;
    color: hsl(214, 17%, 51%);
}

.share-state {
    display: none;
    padding: 0;
    width: 100%;
    justify-content: space-around;
    background-color: hsl(217, 19%, 35%);
    height: 65px;
    border-radius: 0 0 10px 10px;
}

.share-state.active {
    display: flex;
}

.facebook,
.twitter,
.pinterest {
    width: 20px;
    height: 20px;
    margin-top: 20px;
}

.author-wrapper {
    padding: 0 32px;
    display: flex;
    justify-content: space-between;
}

.author-wrapper.hidden {
    display: none;
}

.share-state h3 {
    text-transform: uppercase;
    color: hsl(214, 17%, 51%);
    letter-spacing: 2px;
    font-weight: 500;
    margin: 20px 0 0 0;
}

.share-state .share-wrapper {
    margin-top: 16px;
}

.share-tooltip {
    display: none;
}

@media screen and (min-width: 731px) {
    .article-wrapper {
        width: 730px;
        margin: 260px auto;
        display: flex;
        flex-direction: row;
    }

    .article-image {
        border-radius: 10px 0 0 10px;
        height: 100%;
        max-width: 345px;
    }

    .article-title {
        margin-top: 30px;
        font-size: 21px;
        padding: 0 43px;
    }

    .article-description {
        font-size: 14px;
        padding: 0 43px;
    }

    .author-wrapper {
        padding: 0 43px;
    }

    .image-wrapper {
        min-width: 280px;
        min-height: 280px;
        overflow: hidden;
    }

    .author-text {
        margin-left: -140px;
    }

    /* tooltip */
    .share-tooltip {
        display: none;
        width: 248px;
        height: 54px;
        position: absolute;
        top: -80px;
        left: 50%;
        transform: translateX(-50%);
        justify-content: space-around;
        align-items: center;
        background-color: hsl(217, 19%, 35%);
        border-radius: 10px;
    }

    .share-tooltip.active {
        display: flex;
    }

    .share-tooltip::after {
        content: '';
        display: block;
        position: absolute;
        top: 53px;
        width: 0;
        height: 0;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-top: 12px solid hsl(217, 19%, 35%);
    }

    .share-tooltip > img {
        margin: 0;
    }

    .share-tooltip > p {
        color: hsl(214, 17%, 51%);
        text-transform: uppercase;
    }

    /* end tooltip */

    .share-state.active {
        display: none;
    }

    .author-wrapper.hidden {
        display: flex;
    }
}
